FileWatcherService.Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="uri:configuration.file-watcher-service" elementFormDefault="qualified" targetNamespace="uri:configuration.file-watcher-service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FileWatcherService" type="tns:FileWatcherService.Configuration.FileWatcherServiceSectionCT" />
	<xs:complexType name="FileWatcherService.Configuration.FileWatcherServiceSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="patterns" type="tns:FileWatcherService.Configuration.FilePatternsCT">
				<xs:annotation>
					<xs:documentation>The Patterns.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="stopService" type="tns:FileWatcherService.Configuration.StopServiceCT">
				<xs:annotation>
					<xs:documentation>The StopService.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="sendMail" type="tns:FileWatcherService.Configuration.SendMailCT">
				<xs:annotation>
					<xs:documentation>The SendMail.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="watch" type="tns:FileWatcherService.Configuration.WatchCollectionCT">
				<xs:annotation>
					<xs:documentation>The Watch.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FileWatcherService.Configuration.FilePatternsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="pattern" type="tns:FileWatcherService.Configuration.FilePatternCT">
				<xs:annotation>
					<xs:documentation>The FilePattern Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FileWatcherService.Configuration.FilePatternCT">
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="regex" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Regex.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FileWatcherService.Configuration.StopServiceCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FileWatcherService.Configuration.DirectoryCT">
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="event" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Event.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="includeSubDirs" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IncludeSubDirs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FileWatcherService.Configuration.WatchCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="directory" type="tns:FileWatcherService.Configuration.DirectoryCT">
				<xs:annotation>
					<xs:documentation>The Directory Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FileWatcherService.Configuration.MailReceiverAddressCT">
		<xs:attribute name="address" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FileWatcherService.Configuration.SmtpServerCT">
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enableSSL" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The EnableSSL.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="login" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Login.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FileWatcherService.Configuration.MessageCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="recipient" type="tns:FileWatcherService.Configuration.MailReceiverAddressCT">
				<xs:annotation>
					<xs:documentation>The MailReceiverAddress Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="subjectTemplate" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SubjectTemplate.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bodyTemplatePath" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BodyTemplatePath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isBodyHtml" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsBodyHtml.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="from" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The From.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FileWatcherService.Configuration.SendMailCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="server" type="tns:FileWatcherService.Configuration.SmtpServerCT">
				<xs:annotation>
					<xs:documentation>The Server.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="message" type="tns:FileWatcherService.Configuration.MessageCT">
				<xs:annotation>
					<xs:documentation>The Message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ListenerType">
		<xs:annotation>
			<xs:documentation>ListenerType.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Created">
				<xs:annotation>
					<xs:documentation>Created.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Deleted">
				<xs:annotation>
					<xs:documentation>Deleted.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Changed">
				<xs:annotation>
					<xs:documentation>Changed.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Renamed">
				<xs:annotation>
					<xs:documentation>Renamed.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
